<a href="https://colab.research.google.com/github/SChiu-project/reddit-NLP/blob/main/Data_S%26P500_2018_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

20230620

In [ ]:
# import library
import datetime

import numpy as np
import pandas as pd
import math

import tensorflow as tf

from matplotlib import pyplot as plt
%matplotlib inline

In [ ]:
# pandas-datareader 多個數據源讀取金融數據的庫

import pandas_datareader as pdr

In [ ]:
# yfinance
import yfinance as yf

In [ ]:
# 從 Yahoo Finance 中讀取 S&P 500 的歷史價格

df_SP = yf.download('^GSPC', start='2022-07-01', end='2023-07-01')
df_SP

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-07-01,3781.000000,3829.820068,3752.100098,3825.330078,3825.330078,4046950000
2022-07-05,3792.610107,3832.189941,3742.060059,3831.389893,3831.389893,5076590000
2022-07-06,3831.979980,3870.909912,3809.370117,3845.080078,3845.080078,4417720000
2022-07-07,3858.850098,3910.629883,3858.850098,3902.620117,3902.620117,4057770000
2022-07-08,3888.260010,3918.500000,3869.340088,3899.379883,3899.379883,3521620000
...,...,...,...,...,...,...
2023-06-26,4344.839844,4362.060059,4328.080078,4328.819824,4328.819824,3415030000
2023-06-27,4337.359863,4384.419922,4335.000000,4378.410156,4378.410156,3573500000
2023-06-28,4367.479980,4390.350098,4360.220215,4376.859863,4376.859863,3739330000
2023-06-29,4374.939941,4398.390137,4371.970215,4396.439941,4396.439941,3696660000
2023-06-30,4422.439941,4458.479980,4422.439941,4450.379883,4450.379883,3923450000

In [ ]:
df_SP.describe(include='all')

,Open,High,Low,Close,Adj Close,Volume
count,251.000000,251.000000,251.000000,251.000000,251.000000,2.510000e+02
mean,4005.648083,4034.553468,3978.338086,4008.754272,4008.754272,4.238849e+09
std,179.806328,174.632668,186.538332,182.166402,182.166402,7.831846e+08
min,3520.370117,3608.340088,3491.580078,3577.030029,3577.030029,1.706460e+09
25%,3880.944946,3908.849976,3846.770020,3893.585083,3893.585083,3.825130e+09
50%,4000.300049,4028.300049,3969.189941,3998.840088,3998.840088,4.084730e+09
75%,4128.829834,4148.760010,4107.635010,4135.739990,4135.739990,4.476775e+09
max,4440.950195,4458.479980,4422.439941,4450.379883,4450.379883,9.354280e+09

In [ ]:
df_SP.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2022-07-01 to 2023-06-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       251 non-null    float64
 1   High       251 non-null    float64
 2   Low        251 non-null    float64
 3   Close      251 non-null    float64
 4   Adj Close  251 non-null    float64
 5   Volume     251 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.7 KB

In [ ]:
df_SP['percent_chnage'] = (df_SP['Close']/df_SP['Open']-1)*100
df_SP

,Open,High,Low,Close,Adj Close,Volume,percent_chnage
Date,,,,,,,
2022-07-01,3781.000000,3829.820068,3752.100098,3825.330078,3825.330078,4046950000,1.172443
2022-07-05,3792.610107,3832.189941,3742.060059,3831.389893,3831.389893,5076590000,1.022509
2022-07-06,3831.979980,3870.909912,3809.370117,3845.080078,3845.080078,4417720000,0.341862
2022-07-07,3858.850098,3910.629883,3858.850098,3902.620117,3902.620117,4057770000,1.134276
2022-07-08,3888.260010,3918.500000,3869.340088,3899.379883,3899.379883,3521620000,0.285986
...,...,...,...,...,...,...,...
2023-06-26,4344.839844,4362.060059,4328.080078,4328.819824,4328.819824,3415030000,-0.368714
2023-06-27,4337.359863,4384.419922,4335.000000,4378.410156,4378.410156,3573500000,0.946435
2023-06-28,4367.479980,4390.350098,4360.220215,4376.859863,4376.859863,3739330000,0.214766
2023-06-29,4374.939941,4398.390137,4371.970215,4396.439941,4396.439941,3696660000,0.491435
2023-06-30,4422.439941,4458.479980,4422.439941,4450.379883,4450.379883,3923450000,0.631777

In [ ]:
df_SP['Jump'] = np.where((df_SP.percent_chnage>=0) & (1>df_SP.percent_chnage) ,1,0)
df_SP

,Open,High,Low,Close,Adj Close,Volume,percent_chnage,Jump
Date,,,,,,,,
2022-07-01,3781.000000,3829.820068,3752.100098,3825.330078,3825.330078,4046950000,1.172443,0
2022-07-05,3792.610107,3832.189941,3742.060059,3831.389893,3831.389893,5076590000,1.022509,0
2022-07-06,3831.979980,3870.909912,3809.370117,3845.080078,3845.080078,4417720000,0.341862,1
2022-07-07,3858.850098,3910.629883,3858.850098,3902.620117,3902.620117,4057770000,1.134276,0
2022-07-08,3888.260010,3918.500000,3869.340088,3899.379883,3899.379883,3521620000,0.285986,1
...,...,...,...,...,...,...,...,...
2023-06-26,4344.839844,4362.060059,4328.080078,4328.819824,4328.819824,3415030000,-0.368714,0
2023-06-27,4337.359863,4384.419922,4335.000000,4378.410156,4378.410156,3573500000,0.946435,1
2023-06-28,4367.479980,4390.350098,4360.220215,4376.859863,4376.859863,3739330000,0.214766,1
2023-06-29,4374.939941,4398.390137,4371.970215,4396.439941,4396.439941,3696660000,0.491435,1
2023-06-30,4422.439941,4458.479980,4422.439941,4450.379883,4450.379883,3923450000,0.631777,1

In [ ]:
df_SP['Big_Jump'] = np.where((df_SP.percent_chnage>=1),1,0)
df_SP

,Open,High,Low,Close,Adj Close,Volume,percent_chnage,Jump,Big_Jump
Date,,,,,,,,,
2022-07-01,3781.000000,3829.820068,3752.100098,3825.330078,3825.330078,4046950000,1.172443,0,1
2022-07-05,3792.610107,3832.189941,3742.060059,3831.389893,3831.389893,5076590000,1.022509,0,1
2022-07-06,3831.979980,3870.909912,3809.370117,3845.080078,3845.080078,4417720000,0.341862,1,0
2022-07-07,3858.850098,3910.629883,3858.850098,3902.620117,3902.620117,4057770000,1.134276,0,1
2022-07-08,3888.260010,3918.500000,3869.340088,3899.379883,3899.379883,3521620000,0.285986,1,0
...,...,...,...,...,...,...,...,...,...
2023-06-26,4344.839844,4362.060059,4328.080078,4328.819824,4328.819824,3415030000,-0.368714,0,0
2023-06-27,4337.359863,4384.419922,4335.000000,4378.410156,4378.410156,3573500000,0.946435,1,0
2023-06-28,4367.479980,4390.350098,4360.220215,4376.859863,4376.859863,3739330000,0.214766,1,0
2023-06-29,4374.939941,4398.390137,4371.970215,4396.439941,4396.439941,3696660000,0.491435,1,0
2023-06-30,4422.439941,4458.479980,4422.439941,4450.379883,4450.379883,3923450000,0.631777,1,0

In [ ]:
df_SP['Drop'] = np.where((df_SP.percent_chnage<0) & (-1<df_SP.percent_chnage) ,1,0)
df_SP

,Open,High,Low,Close,Adj Close,Volume,percent_chnage,Jump,Big_Jump,Drop
Date,,,,,,,,,,
2022-07-01,3781.000000,3829.820068,3752.100098,3825.330078,3825.330078,4046950000,1.172443,0,1,0
2022-07-05,3792.610107,3832.189941,3742.060059,3831.389893,3831.389893,5076590000,1.022509,0,1,0
2022-07-06,3831.979980,3870.909912,3809.370117,3845.080078,3845.080078,4417720000,0.341862,1,0,0
2022-07-07,3858.850098,3910.629883,3858.850098,3902.620117,3902.620117,4057770000,1.134276,0,1,0
2022-07-08,3888.260010,3918.500000,3869.340088,3899.379883,3899.379883,3521620000,0.285986,1,0,0
...,...,...,...,...,...,...,...,...,...,...
2023-06-26,4344.839844,4362.060059,4328.080078,4328.819824,4328.819824,3415030000,-0.368714,0,0,1
2023-06-27,4337.359863,4384.419922,4335.000000,4378.410156,4378.410156,3573500000,0.946435,1,0,0
2023-06-28,4367.479980,4390.350098,4360.220215,4376.859863,4376.859863,3739330000,0.214766,1,0,0
2023-06-29,4374.939941,4398.390137,4371.970215,4396.439941,4396.439941,3696660000,0.491435,1,0,0
2023-06-30,4422.439941,4458.479980,4422.439941,4450.379883,4450.379883,3923450000,0.631777,1,0,0

In [ ]:
df_SP['Big_Drop'] = np.where((df_SP.percent_chnage<=-1),1,0)
df_SP

,Open,High,Low,Close,Adj Close,Volume,percent_chnage,Jump,Big_Jump,Drop,Big_Drop
Date,,,,,,,,,,,
2022-07-01,3781.000000,3829.820068,3752.100098,3825.330078,3825.330078,4046950000,1.172443,0,1,0,0
2022-07-05,3792.610107,3832.189941,3742.060059,3831.389893,3831.389893,5076590000,1.022509,0,1,0,0
2022-07-06,3831.979980,3870.909912,3809.370117,3845.080078,3845.080078,4417720000,0.341862,1,0,0,0
2022-07-07,3858.850098,3910.629883,3858.850098,3902.620117,3902.620117,4057770000,1.134276,0,1,0,0
2022-07-08,3888.260010,3918.500000,3869.340088,3899.379883,3899.379883,3521620000,0.285986,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2023-06-26,4344.839844,4362.060059,4328.080078,4328.819824,4328.819824,3415030000,-0.368714,0,0,1,0
2023-06-27,4337.359863,4384.419922,4335.000000,4378.410156,4378.410156,3573500000,0.946435,1,0,0,0
2023-06-28,4367.479980,4390.350098,4360.220215,4376.859863,4376.859863,3739330000,0.214766,1,0,0,0
2023-06-29,4374.939941,4398.390137,4371.970215,4396.439941,4396.439941,3696660000,0.491435,1,0,0,0
2023-06-30,4422.439941,4458.479980,4422.439941,4450.379883,4450.379883,3923450000,0.631777,1,0,0,0

In [ ]:
df_SP.describe(include='all')

,Open,High,Low,Close,Adj Close,Volume,percent_chnage,Jump,Big_Jump,Drop,Big_Drop
count,251.000000,251.000000,251.000000,251.000000,251.000000,2.510000e+02,251.000000,251.000000,251.000000,251.000000,251.000000
mean,4005.648083,4034.553468,3978.338086,4008.754272,4008.754272,4.238849e+09,0.080315,0.330677,0.175299,0.366534,0.127490
std,179.806328,174.632668,186.538332,182.166402,182.166402,7.831846e+08,1.024761,0.471397,0.380982,0.482820,0.334187
min,3520.370117,3608.340088,3491.580078,3577.030029,3577.030029,1.706460e+09,-3.360063,0.000000,0.000000,0.000000,0.000000
25%,3880.944946,3908.849976,3846.770020,3893.585083,3893.585083,3.825130e+09,-0.512205,0.000000,0.000000,0.000000,0.000000
50%,4000.300049,4028.300049,3969.189941,3998.840088,3998.840088,4.084730e+09,0.025921,0.000000,0.000000,0.000000,0.000000
75%,4128.829834,4148.760010,4107.635010,4135.739990,4135.739990,4.476775e+09,0.751019,1.000000,0.000000,1.000000,0.000000
max,4440.950195,4458.479980,4422.439941,4450.379883,4450.379883,9.354280e+09,4.247843,1.000000,1.000000,1.000000,1.000000

In [ ]:
df_SP.to_csv("df_SP.csv")